* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #eff3ff;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;
    width: 660px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.card {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    height: 250px;
    justify-content: space-between;
}

.sprites {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

h3 {
    margin: 5px;
    font-size: x-large;
    text-align: center;
}

.pokeFrame{
    margin: 5px;
    max-width: 140px;
    max-height: 140px;
    align-self: center;
}
.pokeFrame >img{
    width: 120%;
}

.group-button {
    margin: 5px;
    display: flex;
    flex: 0;
    align-content: flex-end;
}

.group-button > button {
    margin: 3px;
    height: 20px;
    width: 20px;
    text-align: center;
}

.types {
    display: flex;
}

.type-keys {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.type-keys > p {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}
.type-values {
    margin: 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.type-values > div {
    display: flex;
    flex-wrap: wrap-reverse;
    align-self: space-between;
}

#tipostipos{
    position:absolute;
    bottom: 45%;    
}
.stats {
    display: flex;
    justify-content: flex-end;
}

.progress {
    width: 123px;
    height: 12px;
    background: #eff3ff;
    border-radius: 0px;
    overflow: hidden;
}


.progress__fill {
    width: 3%;
    height: 100%;
    background: blueviolet;
    transition: all 0.9s ease-in-out;
}
.atributes-names {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 5px;
    justify-content: space-between;
}

.atribute-value {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5px;
    justify-content: space-between;
}
