* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #eff3ff;
}

.flex {
    display: flex;
}

.container {
    display: flex;
    width: 660px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.card {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    height: 225px;
    justify-content: space-between;
}

.sprites {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

h3 {
    margin: 5px;
    font-size: x-large;
    text-align: flex-start;
}

.pokeFrame{
    margin: 5px;
    max-width: 140px;
    max-height: 140px;
    border-color: black;
    border-radius: 5px;
    align-self: flex-start;
}
.pokeFrame >img{
    width: 120%;
}

.group-button {
    margin: 5px;
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.group-button > button {
    margin: 3px;
    height: 20px;
    width: 20px;
    text-align: center;
}

.types {
    background-color: #ffeb38;
    display: flex;

}

.type-keys {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

.type-values {
    margin: 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.stats {
    background-color: rgb(255, 113, 208);
    display: flex;
    justify-content: flex-end;
}

.progress {
    width: 123px;
    height: 12px;
    background: #eff3ff;
    border-radius: 5px;
}


.progress__fill {
    width: 50%;
    height: 100%;
    background: blueviolet;
}
.atributes-names {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 5px;
    justify-content: space-around;
}

.value {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5px;
    justify-content: space-around;
}
